<!DOCTYPE html>
<html>
<head>
<title> VAI TOMAR NO CU POHA!!!!!!!!!! </title>
</head>
<body>
<h1><%= puts "Hello world é um caralho porra"%></h1>	
<form action="demo_form.asp" method="get">

<input type="radio" name="local1" value="Agitado">Agitado<br>
<input type="radio" name="local1" value="Calmo">Calmo<br>


<input type="radio" name="local2" value="In">Interativo<br>
<input type="radio" name="local2" value="Ex">Expositivo<br>

Distância Máx:<br>
<input type="int" name="firstname" value ="0">
<br>
Preço desejado:<br>
<input type="int" name="firstname" value ="0">
<br>
Horário desejado:
Das:<br>
<input type="text" name="firstname" value ="0">
As:
<input type="text" name="lastname">
<br>



 <input type="submit" value="Submit">
</form>

</body>
</html>
