<div class="main">
	<div class="container">
		<h1>Não Sei Onde Ir</h1>
		<p>Descubra lugares de acordo com seu perfil!</p>
		<form action="form" method="get">
			<input type="submit" value="Começar">
		</form>
	</div>
</div>