<!DOCTYPE html>
<html>
<head>
</head>
<body>
<%= puts "Hello world é um caralho porra"%>	


<!--
<input type="radio" name="local2" value="In">Interativo<br>
<input type="radio" name="local2" value="Ex">Expositivo<br>Distância Máx:<br>
<input type="int" name="firstname" value ="0">
<br>
Preço desejado:<br>
<input type="int" name="firstname" value ="0">
<br>
Horário desejado:
Das:<br>
<input type="text" name="firstname" value ="0">
As:
<input type="text" name="lastname">
<br>
-->


<input type="submit" value="Submit">
</form>


</body>
</html>
