<!DOCTYPE html>
<html>
	<head>
		<title>Forms</title>
	</head>
		<body>
			<div class="main">
				<div class="container">
					<h1><b>Formulário</b></h1>
					<p>Preencha o formulário para achar um lugar!</p>
						
					<form action="demo_form.asp" method="get">

						<p>Qual sua preferencia quanto ao espirito do local?</p>
						<input type="radio" name="local1" value="A">Agitado<br>
						<input type="radio" name="local1" value="C">Calmo<br>

						<p>Qual sua prefencia quanto a sua experiência?</p>
						<input type="radio" name="local2" value="I">Interativo<br>
						<input type="radio" name="local2" value="E">Expositivo<br>

						Distância Máx:<br>
						<input type="int" name="firstname" value ="0">
						<br>
						Preço desejado:<br>
						<input type="int" name="firstname" value ="0">
						<br>
						Horário desejado:
						Das:<br>
						<input type="text" name="firstname" value ="0">
						As:
						<input type="text" name="lastname">
						<br>

						<input type="submit" value="Submit">
					</form>
					<form action="welcome" method="get">
						<input id="back" type="submit" value="Voltar">
					</form>
						
				</div>
			</div>
		</body>
</html>

