<div class="main">
	<div class="container">
		<h1><b>Não Sei Onde Ir</b></h1>
		<p>Descubra lugares de acordo com seu perfil!</p>
		<form action="form" method="get">
			<input id="inicial" type="submit" value="Começar">
		</form>
	</div>
</div>
