<div class="main">
	<div class "container">
		<h1>Sugestões</h1>
		<% @locais.each do |l| %>
			<%= link_to image_tag(l.imagem), controller: 'descricao', action: 'descricao', :valor => l.nome  %>
		  <br><br><br><br><br>
		<% end %>
	</div>
</div>
