<div class="main">
	<div class "container">
		<h1>Sugestões</h1>
		<% @locais.each do |l| %>
		  <form action="search" method="post"> <input type="image" src= <%=l.imagem%> name= <%=l.nome %> width="790">
		  <br><br><br><br><br>
		<% end %>
	</div>
</div>
