<div class="row">
<div class="col-md-8 col-md-offset-2 grid2">

	<h1><b>SOBRE</b></h1>
	<br>
	<p class="p1">NaoSeiOndeIr é uma aplicação Web que tem como premissa sugerir atrações e pontos turísticos para usuários que querem sair para algum lugar diferente mas não sabem onde ir ou não conhecem as atrações turísticas do lugar onde ele mora.</p>

</div>
<br>
<br>
</div>
