<div class="row">
 <div class="col-md-6 col-md-offset-3 grid">
 	<h1><b>CONTATO</b></h1>
		<div class='GuthembergSampaio'>
          <img src='https://fb-s-d-a.akamaihd.net/h-ak-xpa1/v/t1.0-9/13165900_691551887653213_2890250408251675506_n.jpg?oh=a23cf6895691495f54e23a118a8da187&oe=58CFCAE8&__gda__=1488355539_6d2fb14a5fbb793949049dfef4aca406' alt='Guthemberg Sampaio' height='240' width='240'>
          <h4>Guthemberg Sampaio</h4>
          <p>gss6@cin.ufpe.br</p>
          <br>
        </div>

 		<div class='JoaoPauloLins'>
          <img src='https://scontent-grt2-1.xx.fbcdn.net/v/t1.0-9/13335520_1363270987032812_414892706210067442_n.jpg?oh=b25740182206236aa3111138a9d7755e&oe=58C8C55A' alt='João Paulo Lins' height='240' width='240'>
          <h4>João Paulo Lins</h4>
          <p>jplo@cin.ufpe.br</p>
          <br>
        </div>

        <div class='JeanPierre'>
          <img src='https://scontent-grt2-1.xx.fbcdn.net/v/t1.0-9/13512182_858342550938274_4778810228300117615_n.jpg?oh=7064b63de37eebe4f3bf80f367399b20&oe=58CB0635' alt='Jean Pierre' height='240' width='240'>
          <h4>Jean Pierre</h4>
          <p>jpos2@cin.ufpe.br</p>
          <br>
        </div>

        <div class='MatheusRaz'>
          <img src='https://fb-s-c-a.akamaihd.net/h-ak-xat1/v/t1.0-9/13769631_1056805531062173_7769814697238782992_n.jpg?oh=a4dab5247f2d24ea4f66ecf6c7c2e421&oe=58BA3706&__gda__=1492924953_a4ffb3825946b580f242843c6e81d19a' alt='Matheus Raz' height='240' width='240'>
          <h4>Matheus Raz</h4>
          <p>mrol@cin.ufpe.br</p>
          <br>
        </div>

 </div>
<br>
<br>
</div>